.head1{
	background-image:url(imgs/Banner3.jpg);
	background-color: #4f5051;
	color:#ffffff;
	height: 145px;
	width: 100%;
}

.head2{
	text-align: right;
	width: 100%;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	background-color: #bc0b0b;
}

body{
	background-color: #8e8b8b;
}

body button{
	display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #bc0b0b;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
}

body button:hover {
    background-color: #555;
}

.central{
	align: center;
}

.expo{
	width: 60%;
	margin: 0 auto;
	text-align: center;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.expo:hover{
	background: #a8a4a4;
}

p{
	align: center;
	color: #ffffff;
	padding: 10px;
	border: 30px;	
    text-align:center;     
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.p2{
	text-align:left; 
}

.tabelaLinks{
	text-align: right;
}

td{
	padding: 10px;
	border: 30px;	
    text-align:center;
    font-size:20px;     
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

ul{
	list-style-type: none;
}

li{
	color: #ffffff;
    text-decoration: none;
    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

cite{
	    font-size: 80%;
}

h1{
	color: #3e3e3f;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	font-size: 30px;
	padding-left:28px;
}

h2{
	color: #3e3e3f;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	font-size: 23px;
	padding-left:28px;
}

h3{
	color: #3e3e3f;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	padding-left:28px;
}

h4{
	color: #424141;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	font-size: 22px;
	padding-left:28px;
}

h6{
	color: #ffffff;	
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	font-size: 80%;
	padding-left:28px;
}

.centralFooter{
	background-color:#626263;
	display: flex;
	height: 300px;
	padding-top: 10px;
	height: 260px;
}

.left{
	margin: 5%;
	text-align: left;
	width: 40%;
	margin-top: 0;
    margin-bottom: 0;
}

.right{
	margin: 5%;
	text-align: right;
	width: 70%;
	float:left;
	margin-top: 0;
    margin-bottom: 0;
}


.painel3 ul{
	text-align: center;
	width: 100%;
	height: 100%;
}

.painel3 ul li{
	display: inline-block;
    width: 33%;
    padding-left: 0;
    vertical-align: top;
}

.painel3 ul li:hover{
	background: #a8a4a4;
}

.menu{
	height: 50px; 
    background-color: #bc0b0b;
}

.menu ul{
	text-align: center;
	width: 100%;
	height: 100%;
}

.menu ul li {
	display: inline-block;
	padding: 12px;
}

.menu ul li:hover {
 	background: #d85252;
}

.cred2 {
	width: 100%;
    height: 50px;
    background-color: #626263;
    text-align: center;
}

.cred2 {
	width: 100%;
	height: 50px; 
    background-color: #bc0b0b;
    text-align: center;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #770303;
    text-decoration: none;
}

a:active {
    color: #555656;
    text-decoration: none;
}

.contLink:hover{	
	background: #d85252;
}

.logo{
/* 	background-image:url(imgs/TED_Logo_G.png); */
/* 	width: 255px; */
/*     height: 50px; */
/*     filter: invert(50%); */
}

.creditos{
	margin-top: 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	color: #ffffff;
	text-align: left;
	padding-left: 20px;
}

.contatoHead{
	font-size: 15px;
}

.contactText{
	padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.contactText{
	padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    height: 28px;
    width: 28px;
}

.contactText:hover{
	background: #626263;
}

.contactText2:hover{
	background: #626263;
}

.contactImg {
    background-image: url(imgs/Icons/Contato.png);
    width: 30px;
    height: 20px;
    filter: invert(100%);
}

.mail{
	background-image: url(imgs/Icons/mail.png);
    width: 30px;
    height: 20px;
    filter: invert(100%);
}

.sect{
	width: 100%;
    height: 1200px;
    padding-top: 30px;
}

.sectDiv6{
	background-image: url('imgs/Parallax/Prlx06.jpg');
	height: 35%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectDiv1{
	background-image: url('imgs/Parallax/Prlx01.jpg');
	height: 35%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectDiv2{
	background-image: url('imgs/Parallax/Prlx02.jpg');
	height: 35%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectDiv3{
	background-image: url('imgs/Parallax/Prlx03.jpg');
	height: 35%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectDiv4{
	background-image: url('imgs/Parallax/Prlx04.jpg');
	height: 35%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectDiv5{
	background-image: url('imgs/Parallax/Prlx05.jpg');
	height: 35%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectDivHome{
	background-image: url('imgs/Parallax/Prlx08.jpg');
	height: 60%; 
    background-color: #a8a4a4;
	width: 100%;
	margin-bottom: 35px;
	
	filter: grayscale(100%);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectClear{
	padding-top: 0px;
    padding-bottom: 750px;
}


.sect hr{
	width:85%;
}

.sect li{
	padding-left: 35px;
}

.painel3{
	display: inline-block;
	width: 100%;
}

.clientes{
	height: 1050px;
}

.clientesTb{
	border-collapse: collapse;
    border: 1px solid #8e8b8b;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}

.clientesTb tr td{
	border: 5px solid #8e8b8b;
	vertical-align: middle;
	background-color: #ffffff;
	width: 350px;
}

.tbImg{
	height: 33%;
} 

.diretoria{
	margin: auto;
    height: 950px;
}
.diretoria p{
	width: 70%;
    margin: auto;
    padding-bottom: 30px;
}

.treinamentos{
	height: 1070px;
}

.metodologias{
	height: 950px;
}

.modalidades{
	height: 800px;
}

.profile{
    height: 40%;
    width: 70%;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.profImg{
	border: 2px;
	border-style: solid;
    border-color: white;
    width: 100%
}
